body {
  background-color: rgb(255, 229, 188);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 197, 105);
  border-radius: 20px;
  margin: 20px;
}

.container img {
  width: 300px;
  height: 100px;
  object-fit: fill;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: auto;
}

.pokemon-container img {
  width: 100px;
  height: 100px;
  margin-top: 15px;
}

.pokemon-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 197, 105);
  border-radius: 20px;
}

.pokemon-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  color: rgb(37, 23, 108);
}

.no-underline {
  text-decoration: none;
}

.load-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px;
}

.load-more-btn button {
  background-color: rgb(255, 197, 105);
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  padding: 20px 100px;
}
