body {
  background-color: rgb(255, 229, 188);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 197, 105);
  border-radius: 20px;
  margin: 20px;
  border: 5px solid black;
}

.container img {
  width: 300px;
  height: 150px;
  object-fit: fill;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 0 20px;
}

.pokemon-container img {
  width: 100px;
  height: 100px;
  margin-top: 15px;
}

.pokemon-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.pokemon-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  color: rgb(37, 23, 108);
}

.no-underline {
  text-decoration: none;
}

.load-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px;
}

.load-more-btn button {
  background-color: rgb(255, 197, 105);
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  padding: 20px 100px;
  border: 5px solid black;
}

.parallax-effect {
  background: include background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: rgb(255, 197, 105);
  color: white;
  border: 5px solid black;
  border-radius: 20px;
  transform-style: preserve-3d;
}

.parallax-effect .inner-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-style: italic;
  color: white;
  transform: translateZ(60px);
}
